/* General properties */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body{
    background-color: #f6f8f9;
}


/* Header */
.title-logo-wrapper{
    background-color: white;
    padding: 10px 20px;
}

.logo{
    width: 60px;
    vertical-align: middle;
}

.title{
    display: inline-block;
    font-size: 45px;
    vertical-align: middle;
}


/* Main wrapper */
.main-wrapper{
    background-color: white;
    max-width: 1080px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 5px;
}


/* Buttons section */
.button-section{
    border-bottom: 3px solid #f6f8f9;
    padding: 15px 0 15px 50px;
}

.button-padding{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
}

.task-button{
    background-color: #14aaf5;
    color: white;
}

.section-button{
    color: #c4cbd0;
    border: 1px solid #c4cbd0;
    background-color: white;
    margin-left: 5px;
}


/* To boo things */
.todo-container{
    padding-left: 50px;
}


/* New Task sect. */
.task-info{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    max-width: fit-content;
}

.task-item{
    list-style: none;
    margin-bottom: 15px;
}

.entities{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.entities.check{
    color:#56ff56;
    border: 1px solid;
}

.task-text{
    margin-left: 5px;
}

.label{
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 5px;
}

.label.edit{
    background-color: #14aaf5;
}


/* Today sect. */
.label.goals{
    background-color: #ab5de6;
}

.entities.remove{
    color: red;
    border: 1px solid;
    font-size: 12px;
    padding-top: 2px;
}

.label.recruting{
    background-color: #2cc6ab;
}

.label.mobile{
    background-color: #ff9b00;
}


/* Upcoming sect. */
.label.website{
    background-color: #ec4a9d;
}

.label.sales{
    background-color: #a3d116;
}


/* Footer */
.credits{
    font-size: 13px;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
}